/* mobile - xs */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #1d2126;
    padding: 25px 0;
}

.logo img {
    vertical-align: middle;
}

.menu li {
    height: 30px;
    margin-right: 10px;
    display: inline-block;
}
@media (max-width:767px) {
    .hidden-xs {
        display: none;
    }
    .menu{
        overflow-x: scroll;
    }
}

.menu li a {
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #a4aead;
    border: 2px solid transparent;
    border-radius: 2px;
}

.menu li a:hover {
    border: 2px solid #565c64;
}

.search {
    display: flex;
    align-items: center;
    line-height: 30px;
    height: 30px;
    width: 190px;
    border: 2px solid #565c64;
    border-radius: 2px;
    padding: 6px;

}

.search-field {
    padding: 0;
    width: 150px;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #a4aead;
}

.search-field:focus {
    border: none;
    outline: none;
}

.search-click {
    padding: 0;
    background: url(blog/search.png) center no-repeat #1d2126;
    border: none;
    width: 15px;
    height: 15px;
}

::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 600;
    color: #a4aead;
}

.slaider {
    padding-top: 225px;
    padding-bottom: 225px;
    color: white;
    height: 100%;
    background-image: url(blog/fon1.png);
}

.title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slaider-title {
    margin-bottom: 30px;
}

.slaider-text {
    margin-bottom: 45px;
    color: #ccd0d7;
}

.button {
    margin-right: 10px;
    height: 45px;
    width: 125px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
}

.button:hover {
    border-color: #23b7a4;
    background-color: #23b7a4;
}

.about {
    padding-top: 80px;
    padding-bottom: 100px;
    height: 100%;
    color: black;
    border-bottom: 2px solid #dde1e4;
}

.grey-index {
    background-color: #e1e6ea;
    height: 35px;
    width: 10px;
    color: #e1e6ea;
    margin-right: 15px;
}

.about-title {
    margin-bottom: 40px;
}

.about-text {
    margin-bottom: 40px;
    font-size: 16px;
    color: #a9aaad;
    font-weight: 400;
}

.about-bold-text {
    font-weight: 900;
}

.social {
    padding: 6px;
    background-color: #c8cdd0;
}

.social:hover {
    background-color: #d0d5d9;
}

.politics {
    display: flex;
    flex-wrap: wrap;
}

.green-number {
    height: 50px;
    width: 50px;
    background-color: #23b7a4;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 15px;
}

.politics-heading {
    padding: 0;
    height: 30px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.politics-heading-text {
    width: 390px;
    font-size: 16px;
    color: #a9aaad;
    font-weight: 400;
    margin-bottom: 30px;
}

.team {
    padding: 80px 0;
}

.team-title {
    margin-bottom: 60px;
}
.team-member-photo {
    position: relative; 
}
.member-photo {
    height: 100%;
    width: 100%;
}
.white-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    height: 100%;
    width: 100%;
}
.team-member-social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.member-social {
    margin: 2px;
    background-color: #3a454d;
    display: none;
}

.member-social:hover {
    background-color: #4e5a62;
}
.team-member-info {
    padding: 20px;
    background-color: #e1e6ea;
}

.team-member-name {
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.team-member-function {
    font-size: 14px;
    color: #8d8f92;
}
.member:hover .white-background {
    display: block;
}
.member:hover .member-social {
    display: block;
}
.member:hover .team-member-info{
    background-color: #3a454d;
    color: white;
}
.member:hover .team-member-function {
    color: white;
}

.work {
    color: white;
    background-color: #3a454d;
    padding: 80px 0;
}
.images {
    position: relative;
    padding-bottom: 20px;
}
.image {
    width: 100%;
}
.plus-background{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    height: 205px;
    line-height: 205px;
    width: 100%;
    background-color: transparent;
}
.plus-background img {
    line-height: 205px;
}
.images-text {
    position: absolute;
    bottom: 29px;
    background-color: #1d2126;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    display: none;
}
.images:hover .plus-background {
    display: block;
}
.images:hover .images-text {
    display: block;
}
.images:hover .image {
    opacity: 0.6;
    transition: 0.5s;
}
.work-button {
    text-align: center;
    padding-top: 40px;
}
.show-button {
    width: 150px;
}
.what-we-do {
    padding-top: 80px;
    padding-bottom: 80px;
}
.what-we-do-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;

}
.what-we-do-info-heading {
    padding: 30px 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.what-we-do-info-text {
    text-align: center;
    font-size: 15px;
    color: #a9aaad;
    font-weight: 400;
}
.features {
    color: white;
    background-color: #3a454d;
    padding: 80px 0;
}
.features-section-heading {
    text-transform: uppercase;
    margin-top: 55px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
}
.features-section-text {
    font-size: 16px;
    font-weight: 300;
    color: #dcdfe1;
}
.stay-in-touch {
    padding-top: 80px;
}
.map {
    padding-bottom: 60px;
}
.stay-in-touch-heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
.stay-in-touch-text {
    margin: 40px 0;
    font-size: 16px;
    color: #a9aaad;
    font-weight: 400;
}
.stay-in-touch-bold-text {
    font-weight: 900;
}
.send-massage {
    position: relative;
    width: 100%;
    height: 100%;
}
.send-massage-button {
    position: absolute;
    bottom: 45px;
    left:30px;
    margin-right: 10px;
    height: 45px;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
}

.send-massage-button:hover {
    color: white;
    border-color: #23b7a4;
    background-color: #23b7a4;
}
.footer {
    color: white;
    background-color: #3a454d;
    padding: 40px 0;
}
.footer-social{
    display: flex;
    justify-content: flex-end
}
.copyright {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 400;
}